.contenedor   {
    background-color: black;
    display: flex;
    justify-content: space-between;
    
}

#uno {
    display: inline;
    align-items: initial;
    margin-left: 90px;
}

#dos {
    display: inline;
    align-items: unset;
    margin-right: 30px;
}
span {
color: white;
}

.contenedor2  {
    background:#F0A83E; 
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    
}

#logo {
    height:30px; 
    margin-left: 60px
}

#tres{
    
    margin-right: 90px;
    
}
#imagen {
    background-image: url(" images/foto.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    padding: 151px;
   

    
}

#prueba {
display: flex;
justify-content: flex-end;
align-items: flex-end;
background-color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    
}
